#namebox{
    text-align: center;
    font-size: xx-large;
}
#supercontainter{
    display: flex;
    flex-direction: column;
}
#imagebox img
{
    width: 30vw;
    height: 50vh;
    object-fit: contain;
    margin: 2%;
}
body{
    background-color: beige;
    font-size: large;
}
#main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 60vh;

}
#imagebox{
    width: 50vw;
}