body{
    text-align: center;
    background-color: beige;
    font-size: large;
}
#favss{
    position: absolute;
    bottom: 5%;
    margin: 5px;
    left: 45%;
    font-size: x-large;
}
#superHeroName{
    width: 80%;
    height: 10%;
    font-size: xx-large;
}
#sub{
    font-size: xx-large;
}